{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static "css/demo.css"%}">
    <title> project9</title>
</head>
<body>
<h1>profile page</h1>
<img src="{%static "images/mobile.jpeg" %}" alt="sorry">
<p>Mobile has become a very basic need for people all over the world. Everyone uses a smartphone,
    even small kids are obsessed with it.
    Mobile has become an entertainment medium more than its basic use which is to connect with others.

     Interest in mobile phones and the number of mobile phone brands
    entering the Indian market has steadily risen over the last decade. With new players
    like JIO entering the market and releasing cheap data plans.</p>
</body>
</html>